@import '../../../../../dist/scss/variables.scss';

:host {
  display: flex;
  justify-content: center;
  margin-top: -2rem;

  input {
    width: 80%;

    border: none;
    background: $tertiary-background-color;

    font-size: 1.6rem;
    color: $secondary-text-color;
    text-align: center;

    padding: 1rem;
    box-sizing: border-box;

    &::placeholder {
      color: $secondary-text-color;
    }
  }
}
