@import '../../../../../dist/scss/variables.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;

  button {
    border: none;
    border-radius: 5rem;
    background: $danger-color;

    font-size: 1.6rem;
    color: $secondary-text-color;

    width: 60%;
    padding: 1rem;
  }
}
