@import '../../../../../dist/scss/variables.scss';

section {
  width: 100%;
  min-height: 25rem;

  background: $secondary-background-color;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.08);

  margin-top: 2rem;

  &.loading {
    background-image: url("../../../../../assets/img/bg-task.png");
    background-repeat: no-repeat;
    background-position: center 3rem;
  }

  ul {
    padding: 2rem;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 1rem;

      input {
        &[type="checkbox"] {
          width: 5%;
        }
        &[type="text"] {
          width: 80%;
          padding: 0.5rem 1rem;
          border: none;

          font-size: 1.6rem;
          color: $primary-text-color;
          &.checked {
            text-decoration: line-through
          }
        }
      }

      button {
        width: 5%;
        background: none;
        border: none;
      }
    }
  }
}
